/*popup*/
.modal-dialog {
    max-width: 99%;
    margin: 1.75rem auto;
}

.modal-body {
    position: relative;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 0.3rem;
}
/*end-popup*/

/*combobox*/

.e-dropdownbase .e-list-item, .e-dropdownbase .e-list-item.e-item-focus {
    min-height: 21px;
    line-height: 21px;
}

    .e-dropdownbase .e-list-item:nth-child(even) {
        font-size: 12px;
    }

    /*.e-dropdownbase .e-list-item:nth-child(odd) {
    background-color: #E8EEFA;
    font-size: 12px;
    }*/

    .e-dropdownbase .e-list-item:nth-child(odd) {
        background-color: #e3f5ff;
        font-size: 12px;
    }
/*end-combobox*/

/*grid*/
.MyIndexClass::after {
    content: attr(data-index);
}

.my-grid .dxbs-filter-row th:nth-child(1) div {
    display: none;
}

.e-grid .e-altrow {
    background-color: #E8EEFA;
}

.e-grid .e-headercell {
    background-image: linear-gradient( 0deg, #5f368d85, #B7D8DC);
}

.e-columnheader {
    height: 30px;
}

.e-grid .e-filterbarcell, .e-grid .e-filterbarcelldisabled {
    background-image: linear-gradient( 0deg, #5f368d85, #B7D8DC);
}

.e-grid .e-rowcell {
    font-size: 12px;
}

.e-grid .e-headercelldiv {
    border: 0 none;
    display: block;
    font-size: 12px;
    font-weight: Bold;
    height: 21px;
    line-height: 21px;
    margin: -5px;
    overflow: hidden;
    padding: 0 0.4em;
    text-align: left;
    text-transform: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 200px;
}

.e-grid {
    border-color: #dee2e6;
    width: 100%;
}

    .e-grid .e-gridheader {
        border-bottom-color: #dee2e6;
        border-top-color: #dee2e6;
        color: #212529;
        background-image: linear-gradient( 0deg, #5f368d85, #B7D8DC);
    }

        .e-grid .e-rowcell:not(.e-editedbatchcell):not(.e-updatedtd), .e-grid .e-detailrowcollapse:not(.e-editedbatchcell):not(.e-updatedtd), .e-grid .e-detailrowexpand:not(.e-editedbatchcell):not(.e-updatedtd), .e-grid .e-gridcontent .e-rowdragdrop:not(.e-editedbatchcell):not(.e-updatedtd), .e-grid .e-gridheader .e-rowdragdrop:not(.e-editedbatchcell):not(.e-updatedtd), .e-grid .e-emptyrow:not(.e-editedbatchcell):not(.e-updatedtd) {
            color: #212529;
            font-weight: 400;
        }

        .e-grid .e-rowcell:not(.e-editedbatchcell):not(.e-updatedtd), .e-grid .e-detailrowcollapse:not(.e-editedbatchcell):not(.e-updatedtd), .e-grid .e-detailrowexpand:not(.e-editedbatchcell):not(.e-updatedtd), .e-grid .e-gridcontent .e-rowdragdrop:not(.e-editedbatchcell):not(.e-updatedtd), .e-grid .e-gridheader .e-rowdragdrop:not(.e-editedbatchcell):not(.e-updatedtd), .e-grid .e-emptyrow:not(.e-editedbatchcell):not(.e-updatedtd) {
            color: #000000;
            cursor: pointer;
            user-select: none;
        }

    .e-grid .e-row:hover .e-rowcell {
        color: #fe8a7d !important;
    }
/*end-grid*/

/*button*/
.e-btn:disabled, .e-css.e-btn:disabled {
    background-color: rgb(214 228 240 / 65%);
    box-shadow: none;
    color: #5f368d;
    opacity: 0.65;
    border-color: #5f368d;
}

.e-btn.e-primary:disabled, .e-css.e-btn.e-primary:disabled {
    background-color: rgb(222 222 222 / 65%);
    border-color: #000;
    box-shadow: none;
    color: #787878;
}

.e-btn:disabled, .e-css.e-btn:disabled {
    background-color: rgb(249 251 252 / 65%);
    border-color: #212529;
    box-shadow: none;
    color: #000;
}

.e-btn, .e-css.e-btn {
    -webkit-tap-highlight-color: transparent;
    background-color: #ffffff;
    border-color: #5f368d;
    box-shadow: none;
    color: #231e1e;
    transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 80px;
    height: 29px;
    cursor: pointer;
}

.e-btn, .e-css.e-btn {
    /* -webkit-font-smoothing: antialiased; */
    border: 1px solid;
    border-radius: 4px;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 14px;
    font-weight: 400;
    -ms-flex-pack: center;
    justify-content: center;
    line-height: 1.6em;
    outline: none;
    padding: 1px 11px;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;
}

.e-btn1 {
    background-color: white;
    border-color: #d7d8d9;
    color: black;
    width: 115px;
    cursor: pointer;
}

.e-btn2 {
    background-color: white;
    border-color: #d7d8d9;
    color: black;
    width: 142px;
    cursor: pointer;
}

.e-disabled {
    background: #fff;
    color: #6c757d;
}

.e-btn:hover, .e-css.e-btn:hover {
    background-color: rgb(214 228 240 / 65%);
    border-color: #5f368d;
    box-shadow: none;
    color: #787878;
}

.e-btn:focus, .e-css.e-btn:focus {
    background-color: rgb(214 228 240 / 65%);
    border-color: #5f368d;
    box-shadow: none;
    color: #787878;
}

.e-btn .e-btn-icon, .e-css.e-btn .e-btn-icon {
    display: inline-block;
    font-size: 14px;
    margin-top: -2px;
    vertical-align: middle;
    width: 2em;
}

.e-btn.e-icon-btn, .e-css.e-btn.e-icon-btn {
    padding: 4px 4px;
    width: 40px;
}

.btnwidth {
    width: 85px;
}

.btnRegwidth {
    width: 35px;
}

.btnwidth {
    width: 85px;
}

.e-btn1 {
    background-color: white;
    border-color: #d7d8d9;
    color: black;
    width: 110px;
    cursor: pointer;
}

.e-btn2 {
    background-color: transparent;
    border-color: transparent;
    color: black;
    width: 120px;
    cursor: pointer;
    text-align: center;
    box-shadow: none;
    font-size: 12px;
    font-weight: bold;
    /*height:15px;*/
}

.e-btn3 {
    background-color: white;
    border-color: #d7d8d9;
    color: black;
    width: 142px;
    cursor: pointer;
}

.e-btn4 {
    background-color: white;
    border-color: #d7d8d9;
    color: black;
    width: 60px;
    cursor: pointer;
}

.e-btn5 {
    background-color: transparent;
    border-color: #5f368d;
    color: black;
    width: 100px;
    cursor: pointer;
    text-align: center;
    box-shadow: none;
    /*height:15px;*/
}

.e-btn6 {
    background-color: white;
    border-color: #d7d8d9;
    color: black;
    width: 30px;
    cursor: pointer;
}
/*end-button*/

/*input*/
.e-input-group:not(.e-success):not(.e-warning):not(.e-error), .e-input-group.e-control-wrapper:not(.e-success):not(.e-warning):not(.e-error) {
    border-color: #d7d8d9;
    width: 100%;
    height: 29px;
}

.e-input-group.e-corner {
    border-radius: 5px;
}

.e-input-group .e-input-group-icon:first-child, .e-input-group.e-control-wrapper .e-input-group-icon:first-child {
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
}
/*To increase the font-size and change font-family*/
.e-input-group.e-control-wrapper.e-corner {
    font-family: "Helvetica Neue","Helvetica","Arial",sans-serif,"-apple-system","BlinkMacSystemFont";
    font-size: 14px;
    font-weight: 400;
}

.e-input-group:not(.e-success):not(.e-warning):not(.e-error):not(.e-float-icon-left).e-disabled, .e-input-group.e-float-icon-left:not(.e-success):not(.e-warning):not(.e-error).e-disabled .e-input-in-wrap, .e-input-group.e-control-wrapper:not(.e-success):not(.e-warning):not(.e-error):not(.e-float-icon-left).e-disabled, .e-input-group.e-control-wrapper.e-float-icon-left:not(.e-success):not(.e-warning):not(.e-error).e-disabled .e-input-in-wrap {
    background: #fff;
    color: #6c757d;
    cursor: pointer;
}

.e-input-group:not(.e-success):not(.e-warning):not(.e-error), .e-input-group.e-control-wrapper:not(.e-success):not(.e-warning):not(.e-error) {
    border-color: #9f9f9f;
    width: 100%;
    height: 29px;
}

.e-input[disabled], .e-input-group .e-input[disabled], .e-input-group.e-control-wrapper .e-input[disabled], .e-input-group.e-disabled, .e-input-group.e-disabled input, .e-input-group.e-disabled input.e-input, .e-input-group.e-disabled textarea, .e-input-group.e-disabled textarea.e-input, .e-input-group.e-control-wrapper.e-disabled, .e-input-group.e-control-wrapper.e-disabled input, .e-input-group.e-control-wrapper.e-disabled input.e-input, .e-input-group.e-control-wrapper.e-disabled textarea, .e-input-group.e-control-wrapper.e-disabled textarea.e-input, .e-float-input.e-disabled input, .e-float-input.e-disabled textarea, .e-float-input input[disabled], .e-float-input input.e-disabled, .e-float-input textarea[disabled], .e-float-input textarea.e-disabled, .e-float-input.e-control-wrapper.e-disabled input, .e-float-input.e-control-wrapper.e-disabled textarea, .e-float-input.e-control-wrapper input[disabled], .e-float-input.e-control-wrapper input.e-disabled, .e-float-input.e-control-wrapper textarea[disabled], .e-float-input.e-control-wrapper textarea.e-disabled, .e-input-group.e-control-wrapper.e-disabled span {
    cursor: text;
    color: #000;
}

/*input.e-input, .e-input-group input.e-input, .e-input-group input, .e-input-group.e-control-wrapper input.e-input, .e-input-group.e-control-wrapper input, .e-float-input input, .e-float-input.e-input-group input, .e-float-input.e-control-wrapper input, .e-float-input.e-control-wrapper.e-input-group input, .e-input-group, .e-input-group.e-control-wrapper, .e-float-input, .e-float-input.e-control-wrapper {*/
/* border-radius: 4px; */
/* height: 30px; */
/*font-size: 13px;
    height: 29px;*/
/* color: #555; */
/* background-color: #fff; */
/* background-image: none; */
/* border: 1px solid #ccc; */
/*border-radius: 2px;
}*/

input.e-input, .e-input-group input.e-input, .e-input-group input, .e-input-group.e-control-wrapper input.e-input, .e-input-group.e-control-wrapper input, .e-float-input input, .e-float-input.e-input-group input, .e-float-input.e-control-wrapper input, .e-float-input.e-control-wrapper.e-input-group input, .e-input-group, .e-input-group.e-control-wrapper, .e-float-input, .e-float-input.e-control-wrapper {
    /* border-radius: 4px; */
    /* height: 30px; */
    font-size: 13px;
    height: 29px;
    color: #000;
    /* background-color: #fff; */
    /* background-image: none; */
    /* border: 1px solid #ccc; */
    border-radius: 2px;
}

.e-upload-picture::before {
    content: '\e724';
    font-family: e-icons;
}
/*end-input*/

/*text*/
.fontBold {
    font-weight: bold;
    text-align: right;
}

label {
    display: inline-block;
    color: #3c2357;
    font: 12px Tahoma, Geneva, sans-serif;
}

.alert {
    background-color: transparent;
    position: relative;
    height: 10px;
    padding: 0rem 0rem 0rem 0rem;
    border: 1px solid transparent;
    border-radius: .25rem;
}

.alert-success {
    color: #039624;
}

.alert-failed {
    color: #ff0000;
}

a,
a label {
    cursor: pointer;
}
/*end-text*/

/*tab*/
.e-tab .e-tab-header:not(.e-vertical) .e-toolbar-item.e-active {
    color: #212529;
    background-color: #e7eaff;
    border: 1px solid #4c2b71;
    border-bottom: none !important;
}

.e-tab .e-tab-header {
    border-bottom: 4px solid #4c2b71;
    box-shadow: 0 14px 28px rgb(0 0 0 / 25%), 0 10px 10px rgb(0 0 0 / 22%);
    height: 40px;
}

    .e-tab .e-tab-header .e-toolbar-item.e-active.e-ileft .e-tab-text, .e-tab .e-tab-header .e-toolbar-item.e-active.e-iright .e-tab-text {
        color: #2b2a2a;
    }
/*end-tab*/

/*form*/
.my-style textarea {
    width: 100%;
    min-height: 24px;
}

div.scroll {
    margin: 4px, 4px;
    padding: 4px;
    height: 23px;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: justify;
}

.form-control-sm {
    height: 25px;
    padding: 0.20313rem 0.5rem;
    font-size: 0.8125rem;
    line-height: 1.5;
    border-radius: 0.15rem;
}

.form-control1 {
    height: 35px;
    width: 150px
}

.Custom {
    height: 34px;
}

.e-pager div.e-parentmsgbar {
    float: left;
    padding-bottom: 11px;
    padding-right: 4px;
    padding-top: 0px;
}
/*end-form*/

.e-checkbox-wrapper .e-label, .e-css.e-checkbox-wrapper .e-label {
    cursor: pointer;
    display: inline-block;
    //font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 12px;
    font-weight: normal;
    line-height: 14px;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    vertical-align: middle;
    white-space: normal;
}

.StudentImage {
    height: 160px;
    width: 140px;
}

.ParentImage {
    height: 140px;
    width: 140px;
}

table, tr, th, td {
    height: 1%;
    border: 2px;
    border-color: red;
}

.column-height {
    height: 5px;
}

.e-multi-column.e-ddl.e-popup.e-popup-open td {
    border: 1px solid rgba(0, 0, 0, 0.125);
}


/*/pivot-grid/*/
.e-pivotview .e-altrow {
    background-color: #E8EEFA;
}

.e-pivotview .e-headercell {
    background-image: linear-gradient( 0deg, #5f368d85, #B7D8DC);
}

.e-columnheader {
    height: 30px;
}

.e-pivotview .e-filterbarcell, .e-pivotview .e-filterbarcelldisabled {
    background-image: linear-gradient( 0deg, #5f368d85, #B7D8DC);
}

.e-pivotview .e-rowcell {
    font-size: 12px;
}

.e-pivotview .e-headercelldiv {
    border: 0 none;
    display: block;
    font-size: 12px;
    font-weight: Bold;
    height: 21px;
    line-height: 21px;
    margin: -5px;
    overflow: hidden;
    padding: 0 0.4em;
    text-align: left;
    text-transform: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 200px;
}

.e-pivotview {
    border-color: #dee2e6;
    width: 100%;
}

    .e-pivotview .e-pivotviewheader {
        border-bottom-color: #dee2e6;
        border-top-color: #dee2e6;
        color: #212529;
        background-image: linear-gradient( 0deg, #5f368d85, #B7D8DC);
    }

    .e-pivotview .e-rowcell:not(.e-editedbatchcell):not(.e-updatedtd), .e-grid .e-detailrowcollapse:not(.e-editedbatchcell):not(.e-updatedtd), .e-grid .e-detailrowexpand:not(.e-editedbatchcell):not(.e-updatedtd), .e-grid .e-gridcontent .e-rowdragdrop:not(.e-editedbatchcell):not(.e-updatedtd), .e-grid .e-gridheader .e-rowdragdrop:not(.e-editedbatchcell):not(.e-updatedtd), .e-grid .e-emptyrow:not(.e-editedbatchcell):not(.e-updatedtd) {
        color: #212529;
        font-weight: 400;
    }

    .e-pivotview .e-rowcell:not(.e-editedbatchcell):not(.e-updatedtd), .e-grid .e-detailrowcollapse:not(.e-editedbatchcell):not(.e-updatedtd), .e-grid .e-detailrowexpand:not(.e-editedbatchcell):not(.e-updatedtd), .e-grid .e-gridcontent .e-rowdragdrop:not(.e-editedbatchcell):not(.e-updatedtd), .e-grid .e-gridheader .e-rowdragdrop:not(.e-editedbatchcell):not(.e-updatedtd), .e-grid .e-emptyrow:not(.e-editedbatchcell):not(.e-updatedtd) {
        color: #000000;
        cursor: pointer;
        user-select: none;
    }

    .e-pivotview .e-row:hover .e-rowcell {
        color: #fe8a7d !important;
    }

/*/pivot-grid-end/*/
