@inherits LayoutComponentBase
@inject Blazored.SessionStorage.ISessionStorageService sessionStorage
@inject NavigationManager NavigationManager

@if (NavHide == 1)
{
    <div class="sidebar">
        <NavMenu />
    </div>
}


<div class="main">
    <div class="top-row px-4" style="position: static;">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container-fluid">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <a href="Index" target="#">
                        <img src="Images/logo.png" style="width:300px; height:50px; filter:invert(1); "  />
                    </a>
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 pl-3">
                        <li class="nav-item">
                            @if (NavHide == 1)
                            {
                                <a class="fa fa-bars fa-lg" style=" vertical-align: -webkit-baseline-middle;" @onclick="@NavHide_Click"></a>
                            }
                            else
                            {
                                <a class="fa fa-bars fa-lg" style=" vertical-align: -webkit-baseline-middle;" @onclick="@NavShow_Click"></a>
                            }
                        </li>
                    </ul>
                </div>
                <div class="d-flex align-items-center">
                    <a class="text-reset me-3 pr-3" href="#">
                        <i class="fa fa-bell-o fa-lg"></i>
                    </a>
                    <a class="text-reset me-3 pr-3" href="#">
                        <i class="fa fa-comment-o fa-lg"></i>
                    </a>
                    <ul class="navbar-nav navbar-align">
                        <li class="nav-item dropdown">
                            <a class="nav-icon dropdown-toggle d-inline-block d-sm-none" data-bs-toggle="dropdown">
                                <i class="align-middle" data-feather="settings"></i>
                            </a>
                            <div class="dropdown">
                                <a class="nav-link d-none d-sm-inline-block" data-bs-toggle="dropdown">
                                    <img src="img/avatars/avatar.jpg" class="avatar img-fluid me-1 rounded-circle" alt="Orison User" /> <span style=" vertical-align: super;color: #263871;"> Orison Admin</span>
                                </a>
                                <div class="dropdown-content" style="text-align:left;">
                                    <a class="dropdown-item"><i class="oi oi-person"></i> Profile</a>
                                    @*<a class="dropdown-item" href="#"><i class="oi oi-shield"></i> Settings & Privacy</a>
                                        <a class="dropdown-item" href="#"><i class="oi oi-question-mark"></i> Help Center</a>*@
                                    <a class="dropdown-item" @onclick="@Logout"><i class="oi oi-account-logout"></i> Log out</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</div>

<div style="padding-top:1%;padding-right:3px;padding-left:3px;padding-bottom:3px;">
    @Body
</div>
@*<footer class="footer">
        <div class="container-fluid">
            <div class="row text-muted">
                <div class="col-6 text-start">
                    <p class="mb-0">
                        <a class="text-muted" href="#" target="_blank"><strong>Powered by Orison</strong></a> &copy;
                    </p>
                </div>
                <div class="col-6 text-end">
                    <ul class="list-inline">
                        <li class="list-inline-item">
                            <a class="text-muted" href="#" target="#">Support</a>
                        </li>
                        <li class="list-inline-item">
                            <a class="text-muted" href="#" target="#">Help Center</a>
                        </li>
                        <li class="list-inline-item">
                            <a class="text-muted" href="#" target="#">Privacy</a>
                        </li>
                        <li class="list-inline-item">
                            <a class="text-muted" href="#" target="#">Terms</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>*@


@*<div class="row pl-1" style="background: #eee; box-shadow: 0 0 0 -4px #212529; ">
    <div class="col-md-4">

    </div>
    <div class="col-md-4 d-flex justify-content-center">
        <a href="Index" target="#">
            <img src="Images/logo.png" style="width: 300px; height: auto; filter: invert(1);" />

        </a>
    </div>
    <div class="col-md-4  ">


    </div>
</div>*@

@code{

    int NavHide = 1;

    public void NavHide_Click(MouseEventArgs args)
    {
        NavHide = 0;
    }
    public void NavShow_Click(MouseEventArgs args)
    {
        NavHide = 1;
    }
    public void Logout()
    {
        sessionStorage.ClearAsync();
        NavigationManager.NavigateTo("Login");
    }

    int user;
    protected override async Task OnInitializedAsync()
    {
        user = await sessionStorage.GetItemAsync<int>("LocalSessionUserId");
        if (user == 0)
        {
            NavHide = 0;
        }
        await InvokeAsync(StateHasChanged);
    }

}